<h1>{{.Title}}</h1>

<p>
There are {{len .Bugs}} bugs on this page.
</p>

<table class='bug-list' border>
<tr>
<th><a href='id'>ID</a></th>
<th>Bug title</th>
<th>Status</th>
<th><a href='priority'>Priority</a></th>
<th>Project</th>
<th>Part</th>
</tr>
{{range $_, $bug := .Bugs}}
<tr class='status-{{$bug.Status}}'>
<td>
<a target='_blank' href='../bug/{{$bug.Bug.BugId}}'>{{$bug.Bug.BugId}}</a>
</td>
<td>
<a target='_blank' href='../bug/{{$bug.Bug.BugId}}'>{{$bug.DisplayTitle}}</a>
</td>
<td>
{{$bug.Status}}
</td>
<td>
{{$bug.Priority}}
</td>
<td>
<a href='../project/{{$bug.Bug.ProjectId}}'>{{$bug.ProjectName}}</a>
</td>
<td>
{{template "display-part.html" $bug}}
</td>
</td>
</tr>
{{end}}
</table>
