
<h1>Assign a project to {{.Title}}</h1><form>
<p>
{{if .Projects}}
{{$currentProjectId := .Bug.ProjectId}}
<select name='project'>
<option value='None'>None</option>
{{range $_, $project := .Projects}}
<option value='{{$project.Name}}'
{{if eq $project.ProjectId $currentProjectId}}selected{{end}}>{{$project.Name}}</option>
{{end}}
</select>
{{else}}
<input name='project'>
{{end}}
<input type='submit' value='Assign the above project to {{.Title}}'>
<input type='hidden' value='{{.Bug.BugId}}' name='bugid'>
</form>
