<h1><a href="../project/{{.Project.ProjectId}}">{{.Project.Name}}</a> part {{.Part.Name}}
{{if .User}}
<a class="edit" href="../edit-part-name/{{.Part.PartId}}"></a>
{{end}}
</h1>
<div id="part-description">

<a class="new-bug" href="../add-bug-to-part/{{.Part.PartId}}">Add a new bug for {{.Part.Name}}</a>

<h3>Description
{{if .User}}
<a class="edit" href="../edit-part-description/{{.Part.PartId}}"></a>
{{end}}
</h3>
<p>{{.Description}}</p>

<h2>
{{if .OpenOnly}}Open{{else}}All{{end}} bugs in {{.Part.Name}}
</h2>
{{$projectid := .Project.ProjectId}}
<p>
There are {{len .Bugs}} bugs on this page.
</p>

{{template "part-bug-list.html" .}}

<p>
{{if .OpenOnly}}
<a href="../part-all/{{.Part.PartId}}">All bugs of {{.Part.Name}}, including closed</a>
{{else}}
<a href="../part/{{.Part.PartId}}">Open bugs of {{.Part.Name}}</a>
{{end}}.
</p>

</div>

